<script type="text/ng-template" id="search-people.html">
    <div class="custom-modal">
        <div class="modal-header">
            <span>Searching people...</span>
        </div>
        <div class="modal-body" id="modal-body">
            <input id="search-query" type="text" />
            <label for="search-query">Type in here to find someone</label>
            <div class="search-results"></div>
        </div>
        <div class="modal-footer">
            <span>People selected: 0</span>
            <button class="custom-button" type="button" ng-click="ok()">OK</button>
        </div>
    </div>
</script>