
@{
    ViewBag.Title = "Index";
}

<script>
    function redirectVk() {
        window.location.href =
            "https://oauth.vk.com/authorize?client_id=5559326&display=page&redirect_uri=http://localhost:54690/Auth/Redirect&scope=friends,audio&response_type=code&v=5.53";
        //"https://oauth.vk.com/authorize?client_id=5559326&display=page&redirect_uri=http://goodsurround.azurewebsites.net/Auth/Redirect&scope=friends,audio&response_type=code&v=5.53";
        
    }
</script>
<button onclick="redirectVk()">Login via Vk</button>
