<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="register-form">
        <div>
            <div class="project-name">
                Good Surround
            </div>

            <div>
                <button class="vk-login-button">
                    <i class="fa fa-vk fa-2x">
                        <span class="vk-login-button-vertical-line"></span>
                        <span class="vk-login-button-text">Sign in with Vkontakte</span>
                    </i>
                </button>
            </div>
        </div>
    </div>
</body>
</html>