<div class="scheduling-container">
    <div class="users-container animated" ng-class="{'slided': displayUsers}">
        <div class="arrow animated quick" ng-click="toggleUsersPanel()"
            title="Toggle users panel">
            <i class="fa fa-chevron-left animated" aria-hidden="true"></i>
        </div>
        <div class="content">
            <div class="user-row" ng-repeat="user in users">
                <div class="avatar">
                    <img ng-src="{{user.avatar}}" />
                </div>
                <div class="name">
                    <span>{{user.name}}</span>
                </div>
                <div class="albums-count" title="{{user.albumsCount}} albums">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>{{user.albumsCount}}</span>
                </div>
                <div class="songs-count" title="{{user.songsCount}} songs">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <span>{{user.songsCount}}</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <button class="custom-button">Add to schedule</button>
            <button class="custom-button">Find more people</button>
        </div>
    </div>
</div>